{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Mi primer CRUD con Golang - MySql</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Golang Mysql ejemplo de CRUD</h1>
{{ end }}